.speech-bubble {
  position: absolute;
  display: none;
  width: 150px;
  height: 100px;
  background-color: #dbdfaa;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px burlywood;
}
.content {
  display: none;
  width: 150px;
  height: 100px;
  color: #643843;
}
.popup {
  position: absolute;
  display: none;
}
.popup.show {
  display: show;
}
.popup.none {
  display: none;
}
